<template name="main">
  <div class="row carousel-holder">
    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img class="slide-image" src="/images/pozole.jpg" alt="">
          </div>
          <div class="item">
            <img class="slide-image" src="/images/pescadoEmpapelado.jpg" alt="">
          </div>
          <div class="item">
            <img class="slide-image" src="/images/carneAsada.jpg" alt="">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <!-- <img src="http://placehold.it/320x150" alt=""> -->
        <div class="caption">
          <h4 class="pull-right">$60</h4>
          <h4><a href="#">Pozole Rojo</a>
          </h4>
          <p>Nuestro famoso pozole rojo de todos los JUEVES. Pozole rojo con carne de cerdo, incluye tostadas, agua del dia y postre.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">15 calificaciones</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <!-- <img src="http://placehold.it/320x150" alt=""> -->
        <div class="caption">
          <h4 class="pull-right">$65</h4>
          <h4><a href="#">Pescado Empapelado</a>
          </h4>
          <p>Delicioso pescado envuelto en papel aluminio con diferentes verduras y especias. Incluye porción de arroz, agua del dia y postre.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">12 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <!-- <img src="http://placehold.it/320x150" alt=""> -->
        <div class="caption">
          <h4 class="pull-right">$55</h4>
          <h4><a href="#">Carne Asada</a>
          </h4>
          <p>Rico corte de carne asada con nuestros deliciosos frijoles de la olla. Incluye porción de arroz, agua del dia y postre.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</template>
